In [1]:
pip install mysql-connector-python pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/hp/.local/lib/python3.10/site-packages (9.2.0)
Requirement already satisfied: pandas in /home/hp/.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/hp/.local/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.22.4 in /home/hp/.local/lib/python3.10/site-packages (from pandas) (2.2.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sit@3210",
    database="divyaprada"
)

query = "SELECT * FROM student"
df = pd.read_sql(query, conn)
df

/tmp/ipykernel_6024/738398932.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   roll name  marks address        date
0   101  aaa     90  tumkur  2025-11-22
1   102  bbb     98  tumkur  2024-12-12
2   103  ccc     96  tumkur  2022-02-16
3   104  ddd     94  tumkur  2022-02-16